*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 500px;
    height: 500px;
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.content{
    text-align: center;
    padding: 70px 20px;
    
}
.content h2{
    color: white;
    margin-bottom: 10px;
}
.content input{
    display: block;
    width: 400px;
    height: 60px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
.content input::placeholder{
    color: red;
}
.content input:focus{
    outline: none;
}
.content button{
    display: block;
    width: 200px;
    margin: auto;
    height: 60px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(20, 17, 20);
    border: none;
    color: white;
}
.content button:hover{
    background-color: #203A43;
}
.hiden-msg{
    color: black;
    height: 40px;
    width: 400px;
    background-color: #0e191d;
    display: none; 
    padding: 5px 0;
}